{% extends 'layouts/base_background.html' %}
{% load static %}

{% block content %}
    <h1>Nutrition List</h1>
    <div id="nutrition-list">
        <!-- Os itens da nutrição serão preenchidos aqui -->
    </div>

    <script>
        // Variável que armazena os dados da API
        var apiResponse = {{ api_response|safe|escapejs }};

        // Função para construir elementos HTML com base nos dados da API
        function buildNutritionList(data) {
            var nutritionList = document.getElementById('nutrition-list');

            // Cria uma lista não ordenada
            var ul = document.createElement('ul');

            // Itera sobre os itens da API e cria um elemento de lista para cada um
            data.results.forEach(function(item) {
                var li = document.createElement('li');
                li.textContent = item.nome + ' - ' + item.valor;

                // Adiciona o elemento de lista à lista não ordenada
                ul.appendChild(li);
            });

            // Adiciona a lista não ordenada ao elemento de contêiner na página HTML
            nutritionList.appendChild(ul);
        }

        // Chama a função para construir a lista de nutrição com base nos dados da API
        buildNutritionList(apiResponse);
    </script>
{% endblock %}
